MONGO_URI=mongodb://localhost:27017/examate_testing
JWT_SECRET=your-jwt-secret-shared-with-auth-and-user-service
PORT=5002
CLIENT_ORIGIN=http://localhost:8080
NODE_ENV=development
STATISTICS_SERVICE_URL=http://localhost:5003
